@font-face {
  font-family: "Pretendard"; /*font 이름*/
  font-style: "normal"; /* font 스타일 정의 (기울임, 일반) */
  font-weight: 400; /* font 굵기 정의 */
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url("./Pretendard"); /* IE9 Compat Modes */
  src: url("./Pretendard") format("embedded-opentype"),
    /* IE6-IE8 */ url("./Pretendard") format("woff2"),
    /*  Modern Browsers */ url("./Pretendard") format("woff"),
    /* Modern Browsers */ url("./Pretendard") format("truetype"),
    /* Safari, Android, iOS */ url("./Pretendard#svgFontName") format("svg"); /* Legacy iOS */
}
